/* Write your CSS here */
.order-total {
  color: #000000;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
.order-total-para {
  color: #616e7c;
}
.checkout-btn{
  background-color: #0b69ff;
  font-size: 15px;
  color: #ffffff;
  font-family: "Roboto";
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
}